#contents
  .pages
    - if @pages.empty?
      %p.no-result&= _("The query find no pages.")
    - else
      = render(:partial => "admin/pages/pages")
      .paginate
        = will_paginate(@pages, :prev_label => '&#171;å‰', :next_label => 'æ¬¡&#187;', :container => false)
        = page_entries_info_ja(@pages)
        = paginate_links(@per_page)






