- content_for :header do
  =stylesheet_link_tag "mypage"
  =stylesheet_link_tag "admin/admin"

#contents
  .attachments
    %table
      - @attachments.each do |at|
        %tr
          %td&= at.content_type
          %td&= at.filename
          %td&= at.display_name
          %td&= number_to_human_size(at.size)
          %td&= at.updated_at.to_s
          %td= link_to _("Download"), @note ? admin_note_attachment_path(@note, at) : admin_attachment_path(at)
          %td= link_to _("Delete"), (@note ? admin_note_attachment_path(@note, at) : admin_attachment_path(at)), :confirm => _("Are you sure?"), :method => :delete
    = will_paginate(@attachments)

