- content_for :header do
  =stylesheet_link_tag "mypage"
  =stylesheet_link_tag "admin/admin"

#contents
  .attachments
    - if @attachments.size.zero?
      %p.no-result&= _("There is no attachments.")
    - else
      %table.skipwiki.notes-index
        %tr
          %th.name= _("Attachment|Display name")        
          %th.size= _("Attachment|Size")        
          %th.date= _("Attachment|Date")        
          %th.download= _("Download")        
          %th.delete= _("Delete")        
        - @attachments.each do |at|
          %tr
            %td&= at.display_name
            %td&= number_to_human_size(at.size)
            %td&= at.updated_at.strftime("%Y/%m/%d %H:%M")
            %td= link_to _("Download"), @note ? admin_note_attachment_path(@note, at) : admin_attachment_path(at)
          %td= link_to _("Delete"), (@note ? admin_note_attachment_path(@note, at) : admin_attachment_path(at)), :confirm => _("Are you sure?"), :method => :delete
      = will_paginate(@attachments)

