:ruby
  labels_and_pages = pages_indexed_by_label(current_note.label_indices,
                                            current_user.page_editable?(current_note))

  order, = labels_and_pages.enum_with_index.detect{|(l,ps),n| ps.include?(@page) }

  acordion_opt = { :header => "h3", :autoHeight => false, :active => order || 0 }
.label-navigation

  - if current_note.label_navigation_style == LabelIndex::NAVIGATION_STYLE_TOGGLE
    %h2
      %span.operation&= _("[Click to hide]")
  - labels_and_pages.each do |label, pages|
    %div.label{:style=>"background:#{h(label.color)}"}
      %h3= link_to h(label.display_name), note_pages_path(current_note, :label_index_id => label)
      %div
        %ul.pages
          - pages.each do |p|
            %li= link_to(h(p.display_name), note_page_path(current_note, p))

:javascript
  $(document).ready(function(){
    $("div.label-navigation").accordion(#{acordion_opt.to_json});

    jQuery("div.label-navigation span.operation").click(function(){
      jQuery("div.label-navigation").hide().siblings("div.page-header").removeClass("two_pain");
      jQuery("div.label-navigation").hide().siblings("div.page-content").removeClass("two_pain");
      jQuery("div.page-header span.operation.show-label-navi").show();
    });
  })

