- content_for :header do
  =stylesheet_link_tag "jquery/ui.datepicker.css"

%tr
  %th= form.label(:name, h(_("Page|Name")))
  %td
    %label.parrent_url= h(note_pages_url(current_note) + "/")
    =form.text_field :name, :size => 10

%tr
  %th= form.label(:published, h(_("Page|Published")))
  %td= form.check_box(:published)

%tr
  %th
    = form.label(:label_indices, h(_("Page|Label indices")))
    %br
    %span.operation&= _("edit labels")
  %td
    %ul.label-indices
      = form.select("label_index_id", label_navi_for_new_page(current_note))
      %br
        = text_field_tag :name, "insert label name if you want to new label", :size => 36
        = text_field_tag :color, "insert color what you want"
    .clear

