%h2
  = @note.display_name
  を始めましょう！
.init_note
  = error_messages_for :page

  - form_for([@note,@page]) do |f|
    = f.hidden_field :name
    = f.hidden_field :label_index_id
    .title_desc
      %p
        = @note.display_name
        のトップページのタイトルを決めましょう。
      = f.text_field(:display_name)

      %div.content
        %p トップページの本文を記述して下さい。
        = f.radio_button(:format_type, "hiki")
        %label{:for => "page_format_type_hiki"}&= _("Wiki text")

        #hiki_content
          = f.text_area(:content, :name => "page[content_hiki]", :id=>"page_content_hiki", :size=>"80x20")

    = submit_tag _("Create %{entity}") % {:entity => _("page")}
