#contents
  #updated-note
    %table.skipwiki.notes-index
      %tr
        %th.login&= _('User|Name')
        %th.login&= _('User|Display name')
        %th.admin&= _('User|Admin')
        %th.openid_url&= _('OpenID URL')
      - @users.each do |user|
        %tr{:class => cycle('even', 'odd')}
          %td.name&= user.name
          %td.login&= user.display_name
          %td.admin&= _('User|Admin') if user.admin?
          %td.openid_url&= user.identity_url


