.admin_menu_title= _("Admin menu")
.admin_menu
  %ul
    %li= link_to _("User|Index"), admin_users_path
    %li= link_to _("Note|Index"), admin_notes_path
    %li= link_to _("Page|Index"), admin_pages_path
    %li= link_to _("Attachment|Index"), admin_attachments_path


