.admin_menu_title= "管理者メニュー"
.admin-search-bar= render :partial => 'shared/admin/search_box'
.admin_menu
  %ul
    %li= link_to "ユーザ一覧", admin_users_path
    %li= link_to "ノート一覧", admin_notes_path
    %li= link_to "ページ一覧", admin_pages_path
    %li= link_to "添付ファイル一覧", admin_attachments_path

