.admin_menu_title= _("Admin menu")
.admin_menu
  %ul
    %li= link_to _("user index"), admin_users_path
    %li= link_to _("note index"), admin_notes_path
    %li= link_to _("pages index"), admin_pages_path
    %li= link_to _("Attachment|Index"), admin_attachments_path


