.admin_menu_title= _("Admin menu")
.admin_menu
  %ul
    %li= link_to _("user"), admin_users_path
    %li= link_to _("note"), admin_notes_path
    %li= link_to _("page"), admin_pages_path
    %li= link_to _("attachment"), admin_attachments_path


