!!! XML
!!!
- content_for :header do
  =stylesheet_link_tag "mypage"
  =stylesheet_link_tag "admin/admin"

%html{html_attrs("ja")}

  %head
    = render :partial => 'shared/common_header'

  %body
    #header.page-layout
      = render :partial => 'shared/common_body_header'

    = render :partial=>"shared/flash_message"
    #top
      - if logged_in?
        %ul.float
          %li= link_to _("Dashboard"), root_path
          %li= link_to content_tag("span", h(_"new note")), new_note_path
          %li= select_tag("notes", notes_navi_on_header(current_user))
        .clear

      :javascript
        jQuery(document).ready(function(){
          $("#top select").dropdownNavigation();});
    #main
      #content_for_layout
        #content
          .admin-menu= render :partial => 'shared/admin/menu'
          .admin-content
            %h1= generate_topics_str(@topics)

            .admin-main-content
              - if @search
                .admin-search-bar= render :partial => 'shared/admin/search_box', :locals => {:path => @search.shift, :label => @search.shift}
              - if need_child_menu?
                .admin-help-bar= child_menu
              = yield

    #footer
      = render :partial => 'shared/common_body_footer'
    - javascript_tag do
      =yield :javascript_initializer

