!!! XML
!!!
%html{html_attrs("ja")}

  %head
    = render :partial => 'shared/common_header'
  
  %body
    #header.page-layout
      = render :partial => 'shared/common_body_header'

    = render :partial=>"shared/flash_message"
    #top
      - if logged_in?
        %ul.float
          %li= link_to _("Dashboard"), root_path
          %li= link_to content_tag("span", h(_"new note")), new_note_path
          %li= select_tag("notes", notes_navi_on_header(current_user))
        .clear

      :javascript
        jQuery(document).ready(function(){
          $("#top select").dropdownNavigation();});
    #main
      #content_for_layout
        #content
          .admin-header
            %h3= _("Admin menu")
            .clear
          .admin-menu= render :partial => 'shared/admin/menu'
          .admin-content
            %h3= generate_topics_str(@topics, " ＞ ")
            - if search_target_path 
              .admin-search-bar= render :partial => 'shared/admin/search_box', :locals => {:path => search_target_path, :label => search_target_label}
            .admin-main-content
              = yield
            - if child_menu
              .child_menu=child_menu

    #footer
      = render :partial => 'shared/common_body_footer'
    - javascript_tag do
      =yield :javascript_initializer

