!!! XML
!!!
%html{html_attrs("ja")}

  %head
    = render :partial => 'shared/common_header'
  
  %body
    #logo.page-layout
      = link_to image_tag("logo.gif", :alt=>"SKIP Wiki - logo", :height=>"15px"), root_path
    #header.page-layout
      = render :partial => 'shared/common_body_header'

    = render :partial=>"shared/flash_message"
    //#top= render :partial => 'shared/top'

    #main
      #content_for_layout
        #content
          .admin-header
            %h3= "管理者メニュー"
            .clear
          .admin-menu= render :partial => 'shared/admin/menu'
          .admin-content
            - child_menu, title = selected_title
            %h3=title
            .admin-main-content
              = yield
            .child_menu=child_menu if child_menu

    #footer
      = render :partial => 'shared/common_body_footer'
