!!! XML
!!!
%html{html_attrs("ja")}
  %head
    = render :partial => 'shared/common_header'

  %body
    #header.note-layout
      = render :partial => 'shared/common_body_header'

    = render :partial=>"shared/flash_message"
    #top= render :partial => 'shared/top'

    #floating{:style=>"z-index:1"}= yield :floating
    #main
      #content_for_layout
        #content
          = yield

    #footer
      = render :partial => 'shared/common_body_footer'

