!!! XML
!!!
%html{html_attrs("ja")}
  %head
    = render :partial => 'shared/common_header'

  %body
    #header.page-layout
      = render :partial => 'shared/common_body_header'

    = render :partial=>"shared/flash_message"

    #top= render :partial => 'shared/top'

    #floating{:style=>"z-index:1"}= yield :floating
    #main
      #content_for_layout
        #content
          - unless fullscreen_action?
            =render :partial => 'pages/label_traverse'

          - if current_user.page_editable?(current_note)
            #page-menu
              %ul.float
                %li
                  -form_tag(note_page_path(current_note, @page), :method => "delete") do
                    = submit_tag _("Page|Deleted") % {:entity => _("page")}, :confirm => _("Really delete?")
                %li
                  - form_for(:page, :url=>note_page_path(current_note, @page), :html=>{:id=>"page_update"}) do |f|
                    = hidden_field_tag "_method", "PUT"
                    = hidden_field :page, :published, :value=>(@page.published? ? 0 : 1)
                    = submit_tag((@page.published? ? _("Page|Unpublished") : _("Page|Published")))
                %li
                  = select_tag("label_change", label_navi(current_note))
                  - form_for(:page, :url=>note_page_path(current_note, @page), :html=>{:id=>"page_update"}) do |f|
                    = hidden_field_tag "_method", "PUT"
                    = hidden_field :page, :label_index_id
              %ul.float
                %li= link_to(_("View"), note_page_path(current_note, @page))
                %li= link_to(_("Edit"), new_note_page_history_path(current_note, @page))
                %li= link_to(_("History"), note_page_histories_path(current_note, @page))

          .page-header{:style=>"background-color:#{@page.label_index.color}"}
            - if current_note.label_navigation_style == LabelIndex::NAVIGATION_STYLE_TOGGLE
              .show-label-navi
                %span.operation.show-label-navi&= _(">")


            %h1.page-name
              .show
                %span.title.ipe-trigger&= @page.display_name
              - if current_user.page_editable?(current_note)
                :javascript
                  jQuery(document).ready(function(){
                    $("div.page-header span.operation.show-label-navi").click(function(){
                      jQuery("#content div.label-navigation").show().siblings(".page-header").addClass("two_pain")
                      jQuery("#content div.label-navigation").show().siblings(".page-content").addClass("two_pain")
                    });
                    $("select.#label_change").change(function(){
                      $("form.#page_update > #page_label_index_id").val($("select.#label_change option:selected").val());
                      $("form.#page_update").submit();
                    });
                    $("#publish_change").click(function(){
                      var hidden = $("form.#page_update > #page_published");
                      hidden.val(!eval(hidden.val()));
                      $("form.#page_update").submit();
                    });
                  });
          - unless fullscreen_action?
            :javascript
              jQuery("#content div.label-navigation").show().siblings(".page-header").addClass("two_pain");
            .page-content.two_pain= yield
          - else
            .page-content= yield
          .clear

    #footer
      = render :partial => 'shared/common_body_footer'

