!!! XML
!!!
%html{html_attrs("ja")}
  %head
    = render :partial => 'shared/common_header'

  %body
    #header.page-layout
      = render :partial => 'shared/common_body_header'

    = render :partial=>"shared/flash_message"

    #top= render :partial => 'shared/top'

    #floating{:style=>"z-index:1"}= yield :floating
    #main
      #content_for_layout
        #content
          - unless fullscreen_action?
            =render :partial => 'pages/label_traverse'

          - if !@page.deleted && current_user.page_editable?(current_note)
            #page-menu
              %ul.float
                %li.link= link_to_unless_current(_("View"), [current_note, @page])
                %li.link= link_to_unless_current(_("Edit"), new_note_page_history_path(current_note, @page))
                %li.link= link_to_unless_current(_("History"), note_page_histories_path(current_note, @page))
                - if current_user.accessible?(current_note)
                  %li
                    -form_tag(note_page_path(current_note, @page), :method => "delete") do
                      = submit_tag _("Page|Deleted") % {:entity => _("page")}, :confirm => _("Really delete?")
                  %li
                    - form_for([current_note, @page]) do |f|
                      = hidden_field :page, :published, :value=>(@page.published? ? 0 : 1)
                      = submit_tag((@page.published? ? _("Page|Unpublished") : _("Page|Published")))
                  %li
                    = select_tag("label_change", label_navi(current_note))
                    - form_for([current_note, @page], :html=>{:id=>"page_update"}) do |f|
                      = hidden_field :page, :label_index_id
              .clear
              .status
                = @page.published? ? _("Published") : _("Not yet")
                &= _("Last updated at %{time}") % {:time => @page.updated_at.strftime("%Y/%m/%d %H:%M")}

          .page-header{:style=>"background-color:#{@page.label_index.color}"}
            - if current_note.label_navigation_style == LabelIndex::NAVIGATION_STYLE_TOGGLE
              .show-label-navi{:title=>_("Show label|Description")}
                %span.operation.show-label-navi= icon_tag('bullet_go')


            %h1.page-name
              .show
                %span.title&= @page.display_name
                - if !@page.deleted && current_user.page_editable?(current_note)
                  %span.ipe-trigger.operation=_("Page Name|Edit")
              - if !@page.deleted && current_user.page_editable?(current_note)
                .edit{:style=>"display:none"}
                  - form_for([current_note, @page]) do |f|
                    = f.text_field :display_name, :id => "ipe-page_display_name", :size => 20
                    = submit_tag _("Update %{entity}") % {:entity => _("Page|Display name")}
                    %span.indicator{:style=>"display:none"}= image_tag "skip/indicator.gif"
                    %span.operation.ipe-cancel&= _("Cancel")
                :javascript
                  $(function(){
                    $("select.#label_change").change(function(){
                      $("form.#page_update > #page_label_index_id").
                      val($("select.#label_change option:selected").val());
                      $("form.#page_update").submit();
                    });
                    $("h1").aresInplaceEditor(jQuery.extend({
                      callback:application.callbacks.pageDisplaynameEditor
                    }, #{page_display_name_ipe_option.to_json}))
                  });
          - unless fullscreen_action?
            :javascript
              jQuery("#content div.label-navigation").show().siblings(".page-header").addClass("two_pain");
            .page-content.two_pain= yield
          - else
            .page-content= yield
          .clear

          :javascript
            $("div.page-header span.operation.show-label-navi").hide().click(function(){
              $("#content div.label-navigation").show()
              .siblings(".page-header").addClass("two_pain").end()
              .siblings(".page-content").addClass("two_pain");
              $(this).hide();
            });
            $(function(){
              $("div.page-header span.operation.show-label-navi").hide().click(function(){
              $("#content div.label-navigation").show()
                .siblings(".page-header").addClass("two_pain").end()
                .siblings(".page-content").addClass("two_pain");
                $(this).hide();
            })});

    #footer
      = render :partial => 'shared/common_body_footer'

    - javascript_tag do
      =yield :javascript_initializer

