!!! XML
!!!
%html{html_attrs("ja")}
  %head
    = render :partial => 'shared/common_header'

  %body
    = render :partial => 'shared/common_body_header'

    = render :partial=>"shared/flash_message"

    #right_menu
      .box_space
        .box_space_title
          編集可能なノート
        .box_space_body
          %div= select_tag("notes", notes_navi_on_header(current_user))

      .box_space
        .box_space_title
          新着ページ
        .box_space_body
          - @pages.each do |page|
            %p.page_title= link_to h(page.display_name), note_page_path(page.note, page)
            %p.note_title&= "#{page.note.display_name}"

          %span.operation= link_to(_("more..."), pages_path)


      :javascript
        jQuery(document).ready(function(){
          $("#right_menu select").dropdownNavigation();
        });

    #left_contents
      #content_top= render :partial => 'shared/top'

      #floating{:style=>"z-index:1"}= yield :floating
      #main{:style=>"padding:0"}
        #content_for_layout
          #content
            = render :partial => 'pages/page_content'
    .clear
    #footer
      = render :partial => 'shared/common_body_footer'

    - if SkipEmbedded::OpFixation.sso_enabled? && skip_url = SkipEmbedded::InitialSettings["skip_collaboration"]["skip_url"]
      = javascript_include_tag("#{skip_url}services/skip_header.js")

    - javascript_tag do
      =yield :javascript_initializer

